.recipesWrapper {
  padding: 10px;
}

.recipes {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  gap: 30px;
  text-align: start;
}
