.recipeDetail {
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease-out;
  padding: 10px;
  background-color: #fff;
  height: 300px;
  overflow: auto;
}

.recipeDetail:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.recipeDetail::-webkit-scrollbar {
  width: 10px;
}

.recipeDetail::-webkit-scrollbar-thumb {
  background-color: #d6d6d6;
  border-radius: 5px;
}

.recipeDetail::-webkit-scrollbar-thumb:hover {
  background-color: #b8b8b8;
}
